h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-size: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.active-portfolio,
.active-studia {
  color: #2196F3;
}

.active-studia-link,
.active-portfolio-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196F3;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-studia::after,
.active-portfolio::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  bottom: -40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-studia-link.active-studia::after,
.active-portfolio-link.active-portfolio::after {
  background-color: #2196F3;
}

.part-buttons {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-top: 94px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  border: none;
  margin-bottom: 50px;
}

.portfolio-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: #212121;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFFFFF;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.description-portfolio {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.description-team {
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.logotype {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.second-part-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.second-part-logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196F3;
}

.social-list-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-list-icon,
.social-link:focus .social-list-icon {
  fill: #FFFFFF;
}

.footer-join {
  margin-left: 70px;
}

.footer-join__list {
  display: flex;
  gap: 10px;
}

.footer-join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join__link:hover,
.footer-join__link:focus {
  background-color: #2196F3;
}

.social-list-icon-footer {
  fill: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buttom {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  background-color: #2196F3;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buttom:hover,
.modal-buttom:focus {
  background-color: #188CE8;
}

.subtitle {
  margin-bottom: 10px;
}

.specialization-title {
  margin-bottom: 50px;
}

.title-qualities {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.inform-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.inform-title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.specialization-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-title {
  margin-bottom: 50px;
}

.team-title {
  margin-bottom: 50px;
}

.join-title {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.characteristic-list {
  display: flex;
  column-gap: 30px;
}

.characteristic-item {
  width: 270px;
}

.characteristic-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  background-color: #FFFFFF;
  fill: #2196F3;
  border: 1px solid #2196F3;
}

.footer {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
  align-items: center;
  margin: 0 auto;
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-footer {
  margin-top: 20px;
}

.footer-adress {
  min-width: 231px;
}

.footer-adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-mailing {
  display: block;
  margin-left: 93px;
  width: 570px;
  height: 86px;
}

.footer-mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.modal-form-field-footer {
  display: flex;
  align-items: center;
}

.modal-form-input-wrapper-footer {
  margin-right: 12px;
  position: relative;
  display: block;
}

.modal-form-input-footer {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background: #2F303A;
  padding: 15px 16px;
  color: #FFFFFF;
}

.modal-form-input-footer::placeholder {
  margin-top: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal-form-submit-footer {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  background-color: #2196F3;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit-footer:hover,
.modal-form-submit-footer:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-form-input-icon-footer {
  fill: #EEEEEE;
}

.page-header-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  align-items: center;
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.smartphone,
.smartphone:hover,
.smartphone:focus {
  fill: currentColor;
}

.phone-vector,
.mail-vector {
  left: 65.75%;
  right: 33.25%;
  top: 1.81%;
  bottom: 97.55%;
  color: #757575;
  margin-right: 10px;
  margin-top: 34px;
  margin-bottom: 34px;
}

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2F303A;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-hero.jpg");
  background-size: cover;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: rgb(255, 255, 255);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: #2196F3;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  font-weight: 400;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-field {
  display: block;
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: black;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #2196F3;
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 15px;
  background: #FFFFFF;
  border: 0.2px solid #212121;
  content: "";
  cursor: pointer;
  margin-right: 8.38px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  outline: none;
  border-color: #2196F3;
  border-radius: 2px;
  background-color: #2196F3;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: none;
  border: 1px solid #2196F3;
  border-radius: 2px;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-submit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  background-color: #2196F3;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-form-about-doc {
  color: #2196F3;
}

.navigation {
  margin-left: 93px;
}

.navigation__list,
.navigation-contacts__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: #2196F3;
}

.navigation-contacts__link-mail,
.navigation-contacts__link-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-contacts__link-mail:hover,
.navigation-contacts__link-mail:focus,
.navigation-contacts__link-phone:hover,
.navigation-contacts__link-phone:focus {
  color: #2196F3;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.projects-link {
  position: relative;
}

.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translate(0, 0);
}

.position-overlay {
  position: relative;
  overflow: hidden;
}

.projects-info-block {
  padding-top: 20px;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid #F6F6F6;
  border-top: none;
}

.overlay {
  position: absolute;
  overflow-y: auto;
  transform: translate(0, 101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  left: 0;
  top: 0;
  font-size: 18px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;
}

.envelope {
  width: 16px;
  margin-right: 10px;
  height: 12px;
}

.envelope,
.envelope:hover,
.envelope:focus {
  fill: currentColor;
}

.specialization {
  padding-bottom: 94px;
}

.specialization-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-top: 50px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.specialization-item {
  flex-basis: calc((100% - 60px) / 3);
}

.specialization-link {
  position: relative;
}

.position-overlay-we-do {
  position: relative;
  overflow: hidden;
}

.we-do-inform-part-photo {
  position: absolute;
  overflow-y: auto;
  transform: translate(0, 224px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  top: 0;
  font-weight: 700;
  font-size: 14px;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}

.section-team {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
  margin: 0 auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-top: 50px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
}

.team-tiles {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --active-text-color: #2196F3;
}

.invisible-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */