.smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;

    &,
    &:hover,
    &:focus {
        fill: currentColor;
    }
}

.envelope {
    width: 16px;
    margin-right: 10px;
    height: 12px;

    &,
    &:hover,
    &:focus {
        fill: currentColor
    }
}

.contact-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.phone-vector,
.mail-vector {
    left: 65.75%;
    right: 33.25%;
    top: 1.81%;
    bottom: 97.55%;
    color: #757575;
    margin-right: 10px;
    margin-top: 34px;
    margin-bottom: 34px;
}

.contacts-list-mail-phone:not(:last-child) {
    margin-right: 50px;
}

.company-adress-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}