.description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

    &-portfolio {
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;
    }

    &-team {
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #757575;
        margin-bottom: 16px;
    }
}



